.projects{
  min-height: 100vh;
  padding: 80px 20px;
  text-align: center;
}

.projects-title{
  font-size: 2.5rem;
  margin-bottom: 80px;
}

.projects-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card{
  width: 300px;
  padding: 25px;

  border-radius: 12px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(6px);

  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  transition: 0.3s ease;
}

.project-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0,255,150,0.6);
}

.project-card h3{
  margin: 10px 0;
}

.project-card p{
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-card a{
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  background: #0077ff;
  color: white;
  transition: 0.3s;
}

.project-card a:hover{
  background: #0055cc;
}